.title-slide {
  background-image: url(image/front.jpg);
  background-size: cover;
  width: 100%;
}

.bg-gray {
  background-color: #D3D3D3;
 }

.title-slide h1 { padding-top: 5%; font-size: 4em;color:black}
.title-slide h1 {
  color: black;
  padding-left: 4%!important;
  padding-right: 4%!important;
}
.title-slide h2 {
  color: #FFC107;
  line-height: 1em;
  padding-left: 4%!important;
  padding-right: 4%!important;
}

.title-slide h3{
  color: #9E9E9E;
  line-height: 1em;
  padding-left: 4%!important;
  padding-right: 4%!important;
}

.content > ul, ol, li, p { font-size: 25px; }

.content > h1, h2, h3, p {
  padding-left: 30px;
  padding-right: 30px;
}

.content > ul, ol {
  padding-left: 60px;
  padding-right: 60px;
}


.inverse h1{
  color: white;
}

h2 {
  color: #673AB7;
}

div.my-footer {
content: "";
    position: absolute;
    bottom: 15px;
    right:   8px;
    height: 40px;
    width: 120px;
}
